*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin
*.apk
*.zip
patch_app_js.py
deploy_all18.py
generate_icons.py
monitor_and_deploy_v2.py
monitor_and_deploy_v3.py
